<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/website/styles/dist/website.css">
    <link rel="stylesheet" href="assets/website/styles/vendor/fontawesome-5.15.3/css/all.min.css">
    <title>Cryptocurrencies</title>
</head>
<body>
    <header>
        <div id="header-innercontainer">
            <a id="cryptOdysseyLink" href="/">
                <h1>Crypt<img id="coin-image" src="assets/website/images/coin.svg" alt="coin">dyssey</h1>
            </a>
            
            <nav>
                <button id="hamburger-button"><i class="fas fa-bars"></i></button>
                <div id="dark-overlay"></div>
                <ul id="navigation-drawer">
                    <li><a href="cryptocurrencies.html" class="active"><i class="fab fa-ethereum"></i>Cryptocurrencies</a></li>
                    <li><a href="about-us.html"><i class="fas fa-users"></i>Team</a></li>
                    <li><a href="contact.html"><i class="fas fa-envelope"></i>Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="cryptocurrencies-main">
        <h2>CryptoCurrencies</h2>
        <h3>What is Cryptocurrencies ?</h3>
        <p class="cryptoInformation">Cryptocurrency is a form of payment that can be exchanged online for goods and services. 
            Many companies have issued their own currencies, often called tokens, and these can be traded specifically
            for the good or service that the company provides. Think of them as you would arcade tokens or casino chips.
            You’ll need to exchange real currency for the cryptocurrency to access the good or service.
    
            Cryptocurrencies work using a technology called blockchain. Blockchain is a decentralized technology 
            spread across many computers that manages and records transactions. Part of the appeal of this technology
            is its security.</p>

        <h3>  </h3>
        <p class="description"><strong>In cryptoOdyssey, you will find the following crypto currencies available
             in order to become the richest person in the game by trading them at the market </strong>
        </p>
        <div class="layout">
            <div class="container">
                <div class="container__image">
                    <img src="assets/website/images/coin.svg">
                </div>
            
                <div class="container__feature">
                    <P class="cryptoName">Coin</P>
                    <P class="cryptoDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ultrices urna. 
                        Nam sodales tellus metus, sed aliquet neque gravida et. 
                        Sed iaculis neque luctus congue maximus. Fusce pulvinar, 
                        enim at posuere placerat, diam sapien condimentum dolor, 
                        consequat auctor lectus nibh a tortor. Nunc egestas massa ac nulla facilisis luctus vitae feugiat erat. 
                        Curabitur quis aliquet elit, in eleifend turpis. Nunc quis arcu mauris. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse eu urna scelerisque, dapibus mauris ut, interdum neque. 
                        Donec scelerisque rhoncus urna. Proin blandit nisl vel nisl consectetur volutpat. Curabitur elementum mattis velit,
                         id molestie tortor pulvinar sed.</P>
                </div>
            </div>

            <div class="container reverse">
                <div class="container__image">
                    <img src="assets/website/images/coin.svg">
                </div>
            
                <div class="container__feature">
                    <p class="cryptoName">Bitcoin</p>
                    <P class="cryptoDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ultrices urna. 
                        Nam sodales tellus metus, sed aliquet neque gravida et. 
                        Sed iaculis neque luctus congue maximus. Fusce pulvinar, 
                        enim at posuere placerat, diam sapien condimentum dolor, 
                        consequat auctor lectus nibh a tortor. Nunc egestas massa ac nulla facilisis luctus vitae feugiat erat. 
                        Curabitur quis aliquet elit, in eleifend turpis. Nunc quis arcu mauris. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse eu urna scelerisque, dapibus mauris ut, interdum neque. 
                        Donec scelerisque rhoncus urna. Proin blandit nisl vel nisl consectetur volutpat. Curabitur elementum mattis velit,
                         id molestie tortor pulvinar sed.</P>
                </div>
            </div>

            <div class="container">
                <div class="container__image">
                    <img src="assets/website/images/coin.svg">
                </div>
            
                <div class="container__feature">
                    <p class="cryptoName">Ethereum</p>
                    <P class="cryptoDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ultrices urna. 
                        Nam sodales tellus metus, sed aliquet neque gravida et. 
                        Sed iaculis neque luctus congue maximus. Fusce pulvinar, 
                        enim at posuere placerat, diam sapien condimentum dolor, 
                        consequat auctor lectus nibh a tortor. Nunc egestas massa ac nulla facilisis luctus vitae feugiat erat. 
                        Curabitur quis aliquet elit, in eleifend turpis. Nunc quis arcu mauris. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse eu urna scelerisque, dapibus mauris ut, interdum neque. 
                        Donec scelerisque rhoncus urna. Proin blandit nisl vel nisl consectetur volutpat. Curabitur elementum mattis velit,
                         id molestie tortor pulvinar sed.</P>
                </div>
            </div>

            <div class="container reverse">
                <div class="container__image">
                    <img src="assets/website/images/coin.svg">
                </div>
            
                <div class="container__feature">
                    <p class="cryptoName">SwissBorg</p>
                    <P class="cryptoDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ultrices urna. 
                        Nam sodales tellus metus, sed aliquet neque gravida et. 
                        Sed iaculis neque luctus congue maximus. Fusce pulvinar, 
                        enim at posuere placerat, diam sapien condimentum dolor, 
                        consequat auctor lectus nibh a tortor. Nunc egestas massa ac nulla facilisis luctus vitae feugiat erat. 
                        Curabitur quis aliquet elit, in eleifend turpis. Nunc quis arcu mauris. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse eu urna scelerisque, dapibus mauris ut, interdum neque. 
                        Donec scelerisque rhoncus urna. Proin blandit nisl vel nisl consectetur volutpat. Curabitur elementum mattis velit,
                         id molestie tortor pulvinar sed.</P>
                </div>
            </div>

            <div class="container">
                <div class="container__image">
                    <img src="assets/website/images/coin.svg">
                </div>
            
                <div class="container__feature">
                    <p class="cryptoName">Tether</p>
                    <P class="cryptoDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ultrices urna. 
                        Nam sodales tellus metus, sed aliquet neque gravida et. 
                        Sed iaculis neque luctus congue maximus. Fusce pulvinar, 
                        enim at posuere placerat, diam sapien condimentum dolor, 
                        consequat auctor lectus nibh a tortor. Nunc egestas massa ac nulla facilisis luctus vitae feugiat erat. 
                        Curabitur quis aliquet elit, in eleifend turpis. Nunc quis arcu mauris. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse eu urna scelerisque, dapibus mauris ut, interdum neque. 
                        Donec scelerisque rhoncus urna. Proin blandit nisl vel nisl consectetur volutpat. Curabitur elementum mattis velit,
                         id molestie tortor pulvinar sed.</P>
                </div>
            </div>

            <div class="container reverse">
                <div class="container__image">
                    <img src="assets/website/images/coin.svg">
                </div>
            
                <div class="container__feature">
                    <p class="cryptoName">Cardano</p>
                    <P class="cryptoDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ultrices urna. 
                        Nam sodales tellus metus, sed aliquet neque gravida et. 
                        Sed iaculis neque luctus congue maximus. Fusce pulvinar, 
                        enim at posuere placerat, diam sapien condimentum dolor, 
                        consequat auctor lectus nibh a tortor. Nunc egestas massa ac nulla facilisis luctus vitae feugiat erat. 
                        Curabitur quis aliquet elit, in eleifend turpis. Nunc quis arcu mauris. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse eu urna scelerisque, dapibus mauris ut, interdum neque. 
                        Donec scelerisque rhoncus urna. Proin blandit nisl vel nisl consectetur volutpat. Curabitur elementum mattis velit,
                         id molestie tortor pulvinar sed.</P>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="socialMedias-container">
            <a id="github-icon" href="https://github.com/d-roduit/CryptOdyssey" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>

    <script src="assets/website/js/navigationDrawer.js"></script>
</body>
</html>
