<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/website/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/website/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/website/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/website/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="assets/website/styles/dist/website.css">
    <link rel="stylesheet" href="assets/website/styles/vendor/fontawesome-5.15.3/css/all.min.css">
    <title>Cryptocurrencies</title>
</head>
<body>
    <header>
        <div id="header-innercontainer">
            <a id="cryptOdysseyLink" href="/">
                <h1>Crypt<img id="coin-image" src="assets/website/images/coin.svg" alt="coin">dyssey</h1>
            </a>
            
            <nav>
                <button id="hamburger-button"><i class="fas fa-bars"></i></button>
                <div id="dark-overlay"></div>
                <ul id="navigation-drawer">
                    <li><a href="cryptocurrencies.html" class="active"><i class="fab fa-ethereum"></i>Cryptocurrencies</a></li>
                    <li><a href="about-us.html"><i class="fas fa-users"></i>Team</a></li>
                    <li><a href="contact.html"><i class="fas fa-envelope"></i>Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1>Cryptocurrencies</h1>
    </main>

    <footer>
        <div id="socialMedias-container">
            <a id="github-icon" href="https://github.com/d-roduit/CryptOdyssey" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>

    <script src="assets/website/js/navigationDrawer.js"></script>
</body>
</html>
