<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/website/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/website/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/website/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/website/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="assets/website/styles/dist/website.css">
    <link rel="stylesheet" href="assets/website/styles/vendor/fontawesome-5.15.3/css/all.min.css">
    <title>Cryptocurrencies</title>
</head>
<body>
    <header>
        <div id="header-innercontainer">
            <a id="cryptOdysseyLink" href="/">
                <h1>Crypt<img id="coin-image" src="assets/website/images/coin.svg" alt="coin">dyssey</h1>
            </a>
            
            <nav>
                <button id="hamburger-button"><i class="fas fa-bars"></i></button>
                <div id="dark-overlay"></div>
                <ul id="navigation-drawer">
                    <li><a href="cryptocurrencies.html" class="active"><i class="fab fa-ethereum"></i>Cryptocurrencies</a></li>
                    <!-- <li><a href="about-us.html"><i class="fas fa-users"></i>Team</a></li>
                    <li><a href="contact.html"><i class="fas fa-envelope"></i>Contact</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <main id="cryptocurrencies-main">
        <h2>CryptoCurrencies</h2>
        <h3>What are cryptocurrencies ?</h3>
        <p class="cryptoInformation">Cryptocurrency is a form of payment that can be exchanged online for goods and services. 
            Many companies have issued their own currencies, often called tokens, and these can be traded specifically
            for the good or service that the company provides. Think of them as you would arcade tokens or casino chips.
            You’ll need to exchange real currency for the cryptocurrency to access the good or service.
            Cryptocurrencies work using a technology called blockchain. Blockchain is a decentralized technology 
            spread across many computers that manages and records transactions. Part of the appeal of this technology
            is its security.</p>

        <h3>  </h3>
        <p class="description"><strong>In cryptoOdyssey, you will find the following cryptocurrencies available :</strong>
        </p>
        <div class="layout">
            <div class="container">
                <div class="image-container">
                    <img src="assets/shared/images/currencies/coin.svg">
                </div>
            
                <div class="feature-container">
                    <P class="cryptoName">Coin</P>
                    <P class="cryptoDescription">
                        The Coin is the main currency of our game.
                        <br/>
                        It is a virtual fiat currency that is used to express the value of cryptocurrencies in terms that are more understandable for the player.
                        <br/>
                        The Coin is modeled on the US dollar (USD) and a direct match to their value exists.
                        <br/>
                        In game, 1 Coin is equal to 1 USD.</P>
                </div>
            </div>

            <div class="container">
                <div class="image-container">
                    <img src="assets/shared/images/currencies/bitcoin.svg">
                </div>
            
                <div class="feature-container">
                    <p class="cryptoName">Bitcoin <span style="font-size:14px; color:rgba(255,255,255,0.75);">(BTC)</span></p>
                    <P class="cryptoDescription">
                        Bitcoin is a digital currency created for use in peer-to-peer online transactions.
                        <br/>
                        Introduced in 2008 by a still unknown person under the name Satoshi Nakamoto, Bitcoin has become the most prominent cryptocurrency as of today. Through its success, Bitcoin has triggered the launch of hundreds of other cryptocurrencies, collectively referred to as altcoins.
                        <br/>
                        Bitcoin is commonly abbreviated as "BTC."</P>
                </div>
            </div>

            <div class="container">
                <div class="image-container">
                    <img src="assets/shared/images/currencies/ethereum.svg">
                </div>
            
                <div class="feature-container">
                    <p class="cryptoName">Ethereum <span style="font-size:14px; color:rgba(255,255,255,0.75);">(ETH)</span></p>
                    <p class="cryptoDescription">
                        Ethereum is an online exchange protocol created by Vitalik Buterin and launched in 2015. According to him, the name <i>"Ether refers to “the hypothetical invisible material that would allow light to move"</i>.
                        <br/>
                        Ethereum allows its users to mine its cryptocurrency named Ether.
                        <br/>
                        Today, Ether ranks second in the cryptocurrency market in terms of capitalization, just behind Bitcoin.
                        <br/>
                        Ether is commonly abbreviated as "ETH".</p>
                </div>
            </div>

            <div class="container">
                <div class="image-container">
                    <img src="assets/shared/images/currencies/swissborg.svg">
                </div>
            
                <div class="feature-container">
                    <p class="cryptoName">SwissBorg <span style="font-size:14px; color:rgba(255,255,255,0.75);">(CHSB)</span></p>
                    <P class="cryptoDescription">
                        SwissBorg is a blockchain-based secure wealth management platform for cryptocurrency investments.
                        Its aim is to simplify the process of investing in cryptocurrencies. It does this by integrating with the major cryptocurrency exchanges and by featuring a community-based ownership model.
                        SwissBorg’s objective is to become the first cryptocurrencies wealth management platform based on blockchain technology.
                        <br>
                        Swissborg's cryptocurrency is an ethereum-based token that powers the SwissBorg Ecosystem and wants to give the opportunity to an ordinary individual to take control of their wealth without the need of financial experts.
                        <br>
                        Swissborg token is commonly abbreviated as "CHSB".
                        </P>
                </div>
            </div>

            <div class="container">
                <div class="image-container">
                    <img src="assets/shared/images/currencies/tether.svg">
                </div>
            
                <div class="feature-container">
                    <p class="cryptoName">Tether <span style="font-size:14px; color:rgba(255,255,255,0.75);">(USDT)</span></p>
                    <P class="cryptoDescription">
                        Tether is a cryptocurrency whose cryptocoins are backed by an equivalent amount of traditional fiat currencies, like the dollar, the euro, or the Japanese yen.
                        <br/>
                        Such cryptocurrencies are called "stablecoin" because they aim to keep cryptocurrency valuations stable.
                        <br/>
                        Tether is the 3rd largest cryptocurrency by market capitalization to date. 
                        <br/>
                        Tether tokens are commonly abbreviated as "USDT".</P>
                </div>
            </div>

            <div class="container">
                <div class="image-container">
                    <img src="assets/shared/images/currencies/cardano.svg">
                </div>
            
                <div class="feature-container">
                    <p class="cryptoName">Cardano <span style="font-size:14px; color:rgba(255,255,255,0.75);">(ADA)</span></p>
                    <P class="cryptoDescription">
                        Cardano is a platform for executing smart contracts.
                        <br/>
                        The project is led by Charles Hoskinson, co-creator of Ethereum, and overseen by the Cardano Foundation based in Zug, Switzerland.
                        Cardano is considered by some to be the synthesis of Bitcoin and Ethereum. It is the fifth cryptocurrency in terms of its capitalization to date.
                        <br/>
                        Cardano's cryptocurrency is commonly abbreviated as "ADA".
                    </P>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="socialMedias-container">
            <a id="github-icon" href="https://github.com/d-roduit/CryptOdyssey" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>

    <script src="assets/website/js/navigationDrawer.js"></script>
</body>
</html>
