* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;

    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }
}
