#cryptocurrencies-main {
    background: rgb(var(--primary-300));
    background: linear-gradient(180deg, rgb(var(--primary-400)) 0%, rgb(var(--primary-100)) 100%);

    color: white;

    padding: calc(30px + 1vw) 25px;

    @media screen and (min-width: 768px) {
        background: linear-gradient(180deg, rgb(var(--primary-400)) 0%, rgb(var(--primary-100)) 100%);
    }

    h2 {
        padding: 20px;

        font-family: 'Press Start 2P', sans-serif;
        font-size: 18px;
        text-align: center;

        @media screen and (min-width: 560px) {
            font-size: 24px;
        }
    }

    h3 {
        padding: 10px;

        text-align: center;
    }
    
    .cryptoInformation {
        text-align: justify;
        max-width: 900px;
        line-height: 1.8em;
        margin: auto;
    }

    .description {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        max-width: 900px;
        margin: auto;
    }

    .layout {
        margin-top: 40px;

        .container {
            display: flex;
            flex-direction: column;

            &:not(:first-of-type) {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            margin-left: 0%;
            margin-right: 0%;

            padding: 20px;

            background-color: rgba(255,255,255,0.05);

            border: 1px solid rgba(255,255,255,0.1);
            border-radius: 5px;
            box-shadow: 0 9px 19px rgba(0,0,0,0.15), 
                        0 8px 6px rgba(0,0,0,0.22);
            
            @media screen and (min-width: 768px) {
                margin-left: 5%;
                margin-right: 5%;

                flex-direction: row;
            }

            @media screen and (min-width: 1200px) {
                margin-left: 20%;
                margin-right: 20%;
            }

            p {
                text-align: center;

                @media screen and (min-width: 768px) {
                    text-align: left;
                }
            }
    
            .image-container {
                text-align: center;
                align-self: center;

                img {
                    height: 60px;
                    max-height: 60px;
                    width: 60px;
                    min-width: 60px;
                    max-width: 60px;
                }

                @media screen and (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-left: 40px;
                    margin-right: 70px;
                }
            }
            
            .feature-container {
                width: 100%;

                @media screen and (min-width: 768px) {
                    width: 80%;
                }

                .cryptoName{
                    margin-top: 10px;

                    font-weight: bold;
                    font-size: 18px;
                    
                    @media screen and (min-width: 768px) {
                        margin-top: 0px;   
                    }
                }
                
                .cryptoDescription{ 
                    margin-top: 10px;

                    line-height: 1.5em;
                }
            }
        }
    }
}
