footer {
    padding: calc(30px + 2vw) 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 560px) {
        padding: calc(30px + 1vw) 0px;
    }

    #socialMedias-container {
        $github_color: #333;

        line-height: 0px;

        a {
            color: black;
            font-size: 22px;

            line-height: 0px;

            &#github-icon:hover {
                color: $github_color;
            }
        }
    }
}
