header {
    --header-height: clamp(60px, 12vh, 80px);

    position: sticky;
    position: -webkit-sticky;

    top: 0px;
    left: 0px;
    z-index: 999;

    height: var(--header-height);

    background: rgb(var(--primary-400));
    background: linear-gradient(180deg, rgb(var(--primary-500)) 0%, rgb(var(--primary-400)) 100%);

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

    @media screen and (min-width: 768px) {
        background: white;
    }

    #header-innercontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
        width: 90%;

        margin: auto;

        @media screen and (min-width: 768px) {
            width: 80%;
        }

        a {
            text-decoration: none;
        }
    
        #cryptOdysseyLink {
            color: white;
    
            @media screen and (min-width: 768px) {
                color: rgb(var(--primary-500));
            }
    
            h1 {
                color: white;
                font-size: 18px;
                font-family: 'pixelfont', sans-serif;
                
                @media screen and (min-width: 768px) {
                    color: rgb(var(--primary-300));
                }

                #coin-image {
                    height: 25px;
                    margin: 0px 5px;
                }
            }
        }
    
        nav {
    
            #dark-overlay {
                display: none;
    
                position: fixed;
                top: var(--header-height);
                left: 0px;
    
                height: 100vh;
                width: 100vw;
                
                overflow: hidden;
    
                background: rgba(0, 0, 0, 0.5);
    
                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
    
            #hamburger-button {
                border: none;
                background: none;
    
                @media screen and (min-width: 768px) {
                    display: none;
                }
    
                i {
                    transition: all .2s;
                    font-size: 23px;
                    color: white;
                }
            }
    
            #navigation-drawer {
                position: absolute;
    
                top: var(--header-height);
                right: 0px;
                
                width: 80vw;
                max-width: 450px;
                height: calc(100vh - var(--header-height));
                
                transform: translateX(100%);
                transition: all .3s ease-out;
    
                background: rgb(var(--primary-400));
                box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    
                @media screen and (min-width: 768px) {
                    display: flex;
                    
                    position: static;
                    
                    height: auto;
                    width: auto;
                    max-width: unset;
                    
                    transform: none;

                    box-shadow: none;
                    background: none;
                }
    
                li {
                    list-style-type: none;
    
                    @media screen and (min-width: 1200px) {
                        &:not(:first-child) {
                            margin-left: 20px
                        }
                    }
                    
                    a {
                        display: block;
    
                        padding: 20px;
                        
                        width: 100%;
                        
                        color: white;
                        text-decoration: none;
                        border-bottom: 1px solid rgba(var(--secondary-500), 0.1);
                        
                        cursor: pointer;
    
                        @media screen and (min-width: 768px) {
                            display: inline;
    
                            padding: 10px 15px;
    
                            color: rgb(var(--primary-300));
                            border-bottom: none;
                            
                            transition: all .2s ease-in-out;

                            &:hover, &.active {
                                color: white;
                                background: rgb(var(--primary-300));
                                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                                border-radius: 5px;
                            }
                        }
    
                        i {
                            text-align: center;
                            
                            min-width: 20px;
                            width: 20px;
                            max-width: 20px;
                            
                            margin-right: 15px;

                            @media screen and (min-width: 768px) {
                                min-width: unset;
                                width: unset;
                                max-width: unset;
                                
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }

            &.opened-drawer {
                #hamburger-button {
                    i {
                        transform: rotate(-90deg);
                    }
                }

                #dark-overlay {
                    display: block;
                }

                #navigation-drawer {
                    transform: translateX(0%);
                }
            }
        }
    }
}
