#index-main {

    h2, h3 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    h2, h3, p {
        text-align: center;
    }

    #section-one {
        background: rgb(var(--primary-300));
        background: linear-gradient(180deg, rgb(var(--primary-400)) 0%, rgb(var(--primary-100)) 100%);

        color: white;

        padding: calc(30px + 1vw) 25px calc(50px + 1vw) 25px;

        @media screen and (min-width: 768px) {
            background: linear-gradient(180deg, rgb(var(--primary-400)) 0%, rgb(var(--primary-100)) 100%);
        }

        @media screen and (min-width: 1200px) {
            padding: calc(30px + 1vw) 25px calc(80px + 1vw) 25px;
        }

        #game-container {
            display: block;

            position: relative;

            width: 100%;

            margin: auto;

            @media screen and (min-width: 1200px) {
                height: 512px;
                width: 960px;
            }

            #game-canvas {
                display: none;

                height: 100%;
                width: 100%;

                @media screen and (min-width: 1200px) {
                    display: block;
                }
            }

            #game-interface-layer {
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.65);

                @media screen and (min-width: 1200px) {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }

                .market-interface {
                    margin-top: 30px;

                    fieldset {
                        padding: 15px;
                        border: 4px solid white;
                        width: 50%;
                        
                        margin: auto;
                        
                        legend {
                          font-size: 14px;
                          padding: 0px 10px;
                          font-family: 'Press Start 2P', sans-serif;
                        }
                        
                        table {
                          border-collapse: collapse;
                        }
                        
                        table, tr, td {
                            border: 1px solid white;
                        }
    
                        #market-table{
                            margin-left: auto;
                            margin-right: auto;

                            td{
                                text-align: center;
                                font-size: 20px;
                            }

                            #exchangeto{
                                font-size: 28px;
                            }

                            .cryptoicon{
                                height: 60px;
                            }

                            .inputcoin{
                                width: 100px;
                                text-align: center;
                            }
                        }
                            .exchange{
                                margin-top: 20px;
    
                                .btnexchange{
                                    display: block;
                                    margin: auto;
                                    padding: 4px 8px;
                                }
                            }
                            
                        #wallet-table {
                          
                          .crypto-logo {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            margin-top: 7px;

                            min-width: 30px;
                            width: 30px;
                            max-width: 30px;
                            
    
                            img{
                                width: 25px;
                                
                            }
                          }
                          
                          .amounts {
                              width: 200px;
                              text-align: left;
                              padding-left: 15px;
                                p {
                                
                                text-align: left;
                                
                                &.crypto-amount {
                                    font-size: 12px;
                                    } 
                                }
                            
                            }
                        }
                    }

                }

                
            }
        }
    }

    #section-two {
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);

        padding: calc(30px + 1vw) calc(20px + 1vw);

        @media screen and (min-width: 560px) {
            width: 80%;
            
            margin: auto;
            
            transform: translateY(-50px);

            background-color: white;
            border-bottom-width: 4px;
            border-radius: 5px;
        }

        h3 {
            &:not(:first-child) {
                margin-top: calc(30px + 1vw);
            }

            @media screen and (min-width: 560px) {
                font-size: 30px;
            }
        }

        p {
            margin-top: 30px;
        }

        #keyboard-settings {
            margin: auto;
            margin-top: 10px;

            border-collapse: separate;
            border-spacing: 0px 20px;
        
            .keys {
                display: flex;
                justify-content: center;
                align-items: center;
            
                .directionKeysLayout {
                    width: 80px;
                
                    .topRow {
                        display: flex;
                        justify-content: center;
                    }
                    
                    .bottomRow {
                        display: flex;
                        justify-content: space-between;

                        margin-top: 5px;
                    }
                }
                
                kbd {
                    padding: 0px 4px;

                    white-space: nowrap;
                    font-family: 'Press Start 2P', sans-serif;
                    font-size: 0.9em;
                    color: #333;

                    background-color: #eee;
                    border-radius: 3px;
                    border: 1px solid #b4b4b4;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
                }
            }
            
            .action {
                padding-left: 50px;

                font-size: 18px;
            }
        }
    }
}
