#index-main {

    @media screen and (min-width: 560px) {
        margin-bottom: calc(-20px - 1vw);
    }

    #section-one {
        background: rgb(var(--primary-300));
        background: linear-gradient(180deg, rgb(var(--primary-400)) 0%, rgb(var(--primary-100)) 100%);

        color: white;

        padding: calc(30px + 1vw) 25px calc(50px + 1vw) 25px;

        @media screen and (min-width: 768px) {
            background: linear-gradient(180deg, rgb(var(--primary-400)) 0%, rgb(var(--primary-100)) 100%);
        }

        @media screen and (min-width: 1200px) {
            padding: calc(30px + 1vw) 25px calc(80px + 1vw) 25px;
        }

        #game-container {
            display: block;

            position: relative;

            width: 100%;

            margin: auto;

            overflow: hidden;

            @media screen and (min-width: 1200px) {
                height: 512px;
                width: 960px;

                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
            }

            #game-canvas {
                display: none;

                position: absolute;
                top: 0px;
                right: 0px;

                @media screen and (min-width: 1200px) {
                    display: block;
                }
            }

            #game-interface-layer {
                height: 100%;
                width: 100%;

                @media screen and (min-width: 1200px) {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }        
            }
        }
    }

    #section-two {
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);

        padding: calc(30px + 1vw) calc(20px + 1vw);

        @media screen and (min-width: 560px) {
            width: 80%;
            
            margin: auto;
            
            transform: translateY(-50px);

            background-color: white;
            border-bottom-width: 4px;
            border-radius: 5px;
        }

        h3 {
            font-size: 28px;

            text-align: center;

            &:not(:first-child) {
                margin-top: calc(30px + 1vw);
            }

            @media screen and (min-width: 560px) {
                font-size: 30px;
            }
        }

        p {
            max-width: 600px;
            
            margin: auto;
            margin-top: 30px;

            font-size: 18px;
            text-align: center;
        }

        #keyboard-settings {
            margin: auto;
            margin-top: 10px;

            border-collapse: separate;
            border-spacing: 0px 20px;
        
            .keys {
                display: flex;
                justify-content: center;
                align-items: center;
            
                .directionKeysLayout {
                    width: 80px;
                
                    .topRow {
                        display: flex;
                        justify-content: center;
                    }
                    
                    .bottomRow {
                        display: flex;
                        justify-content: space-between;

                        margin-top: 5px;
                    }
                }
            }
            
            .action {
                padding-left: 50px;

                font-size: 18px;
            }
        }
    }
}
