#game-container {

    #game-interface-layer {
        
        #presentation-screen {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {
                
                @media screen and (min-width: 1200px) {
                    position: absolute;
                    z-index: 2;
                    padding: 20px;
                }

                h2 {
                    font-family: 'Press Start 2P', sans-serif;
                    font-size: 20px;
        
                    text-shadow: 2px 2px rgb(var(--warning-300));
        
                    @media screen and (min-width: 560px) {
                        font-size: 30px;
                    }
                }
        
                p {
                    margin-top: 30px;
        
                    @media screen and (min-width: 560px) {
                        margin-top: calc(10px + 1vw);
                    }
                }
        
                button {
                    width: 100%;
                    max-width: 300px;
        
                    background-color: rgb(var(--warning-300));
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
                    color: white;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
        
                    display: block;
                    margin: auto;
        
                    margin-top: 40px;
                    padding: 22px 15px;
        
                    @media screen and (min-width: 560px) {
                        margin-top: calc(20px + 1vw);
                        margin-bottom: calc(40px + 1vw);
                    }
        
                    &:hover {
                        background-color: rgb(var(--warning-400));
                    }
        
                }
                
                #play-game {
                    display: none;
        
                    @media screen and (min-width: 1200px) {
                        display: block;
                    }
                }
        
                #only-on-computer {
                    pointer-events: none;
        
                    @media screen and (min-width: 1200px) {
                        display: none;
                    }
                }
            }
            
            .blur-background {
                --blur-amount: 2px;
                --brightness-amount: 15%;

                display: none;

                height: 100%;
                width: 100%;
                
                background-image: url('../../images/presentation-screen-background.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                
                filter: blur(var(--blur-amount)) brightness(var(--brightness-amount));
                -webkit-filter: blur(var(--blur-amount)) brightness(var(--brightness-amount));

                @media screen and (min-width: 1200px) {
                    display: block;
                }
            }
        }
    }
}
