#game-container {

    #game-interface-layer {

        .content {

            @media screen and (min-width: 1200px) {
                position: absolute;
                z-index: 2;
            }
        }

        .blur-background {
            --blur-amount: 2px;
            --brightness-amount: 40%;

            display: none;
            
            background-image: url('../../images/game-background.png');
            
            filter: blur(var(--blur-amount)) brightness(var(--brightness-amount));
            -webkit-filter: blur(var(--blur-amount)) brightness(var(--brightness-amount));

            @media screen and (min-width: 1200px) {
                display: block;
            }
        }

        .background-image {
            height: 100%;
            width: 100%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #presentation-screen {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {

                @media screen and (min-width: 1200px) {
                    padding: 20px;
                }

                h2, p {
                    text-align: center;
                }

                h2 {
                    font-family: 'Press Start 2P', sans-serif;
                    font-size: 20px;
                    text-shadow: 2px 2px rgb(var(--warning-300));
        
                    @media screen and (min-width: 560px) {
                        font-size: 30px;
                    }
                }
        
                p {
                    max-width: 600px;
                    
                    margin: auto;
                    margin-top: 30px;
        
                    font-size: 18px;

                    @media screen and (min-width: 560px) {
                        margin-top: calc(10px + 1vw);
                    }
                }
        
                button {
                    width: 100%;
                    max-width: 300px;
        
                    background-color: rgb(var(--warning-300));
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
                    color: white;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
        
                    display: block;
                    margin: auto;
        
                    margin-top: 40px;
                    padding: 22px 15px;
        
                    @media screen and (min-width: 560px) {
                        margin-top: calc(20px + 1vw);
                        margin-bottom: calc(40px + 1vw);
                    }

                    @media screen and (min-width: 1200px) {
                        margin-bottom: 0px;
                    }
        
                    &:hover {
                        background-color: rgb(var(--warning-400));
                    }
        
                }
                
                #start-game {
                    display: none;
        
                    @media screen and (min-width: 1200px) {
                        display: block;
                    }
                }
        
                #only-on-computer {
                    pointer-events: none;
        
                    @media screen and (min-width: 1200px) {
                        display: none;
                    }
                }
            }
        }

        #player-info-screen {
            display: none;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {
                width: 65%;

                #player-info-screen-fieldset {
                    min-width: unset;

                    padding: 40px;

                    #player-info-screen-fieldset-legend {
                        display: block;

                        margin: auto;
                        padding: 0px 20px;

                        font-size: 16px;
                    }
               
                    .input-container {

                        &:not(:first-of-type) {
                            margin-top: 30px;
                        }
    
                        label {
                            display: block;
                            
                            margin-bottom: 8px;
                            
                            user-select: none;
                        }
        
                        .error-message {
                            margin-top: 10px;
                            font-size: 10px;
                            color: rgb(var(--danger-300));
                        }
        
                        #player-name {
                            width: 100%;
                        }
        
                        .player-country-container {
                            position: relative;

                            display: flex;

                            #player-country-select {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-grow: 1;

                                overflow: hidden;

                                user-select: none;
                                
                                * {
                                    user-select: none;
                                }
                            
                                #player-country {
                                    display: flex;
                                    align-items: center;

                                    overflow: hidden;
                                    text-overflow: ellipsis; 
                                    white-space: nowrap;
                                }

                                .country-flag {
                                    margin-right: 10px;
                                    max-width: 20px;
                                    max-height: 15px;
                                }
                                
                                #options-container {
                                    --option-line-height: 2em;
                                
                                    display: none;
                                
                                    position: absolute;
                                    top: 100%;
                                    left: 0px;
                                    z-index: 999;
                                
                                    min-width: -webkit-max-content;
                                    min-width: -moz-max-content;
                                    min-width: max-content;
                                    width: 100%;
                                    max-width: 100%;
                                    height: calc(10 * var(--option-line-height));
                                    overflow-y: scroll;
                                    
                                    background-color: #51515d;

                                    color: white;
                                    
                                    &.opened-options-container {
                                        display: block;
                                    }
                                    
                                    .option {
                                        display: flex;
                                        align-items: center;

                                        line-height: var(--option-line-height);
                                        padding: 0px 5px;
                                        
                                        &:hover {
                                            color: white;
                                            background-color: #737382;
                                        }
                                    }
                                }
                            }
        
                            #autodetect-country {
                                flex-grow: 0;
                                flex-shrink: 0;
                                margin-left: 30px;
                            }
                        }
                    }
                }

                #play-game {
                    display: block;

                    width: 100%;

                    margin-top: 40px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        #introduction-tutorial-screen {
            display: none;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {
                width: 80%;

                text-align: center;
                
                h3 {
                    font-size: 22px;

                    span {
                        font-size: 22px;
                    }
                }

                p {
                    font-size: 20px;

                    &:first-of-type {
                        margin-top: 20px;
                    }
                }

                button {
                    margin-top: 30px;
                }
            }
        }

        #market-tutorial-screen {
            display: none;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {    
                width: 500px;
                
                margin-left: 415px;
                
                h3 {
                    font-size: 22px;

                    span {
                        font-size: 22px;
                    }
                }

                p {
                    font-size: 20px;

                    &:first-of-type {
                        margin-top: 20px;
                    }

                    kbd {
                        padding: 4px;
                        font-size: .75em;
                    }
                }

                button {
                    margin-top: 30px;
                }
            }

            .market-tutorial-background {
                background-image: url('../../images/tutorial/market-tutorial-background.png');
            }
        }

        #mine-tutorial-screen {
            display: none;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {
                width: 550px;

                margin-left: 50px;
                
                h3 {
                    font-size: 22px;

                    span {
                        font-size: 22px;
                    }
                }

                p {
                    font-size: 20px;

                    &:first-of-type {
                        margin-top: 20px;
                    }

                    kbd {
                        padding: 4px;
                        font-size: .75em;
                    }
                }

                button {
                    margin-top: 30px;
                }
            }

            .mine-tutorial-background { 
                background-image: url('../../images/tutorial/mine-tutorial-background.png');
            }
        }

        #end-tutorial-screen {
            display: none;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            .content {
                padding: 0px 100px;

                text-align: center;
                
                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 20px;

                    &:first-of-type {
                        margin-top: 20px;
                    }
                }

                button {
                    margin-top: 30px;
                }
            }
        }

        #menu-interface {
            display: none;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            background-color: rgba(0,0,0,0.85);

            #menu-fieldset {
                width: 35%;
                
                padding: 30px;

                legend {
                    margin: auto;

                    padding: 0px 20px;

                    font-size: 16px;
                }

                .setting {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    padding: 4px 0px 4px 15px;

                    background-color: rgba(255,255,255,.05);
                    border: 1px solid rgba(255,255,255,.1);
                }

                #back-to-game-btn {
                    display: block;

                    margin: auto;
                    margin-top: 30px;
                }
            }
        }

        #market-interface {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            height: 100%;
            width: 100%;

            position: relative;

            background-color: rgba(0,0,0,0.85);

            #market-close-btn {
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 5px 10px;
            }

            fieldset {
                width: 60%;

                table {
                    border-collapse: collapse;
                }
            }

            #market-fieldset {

                padding: 5px 20px 10px 20px;

                #market-table {
                    width: 70%;

                    margin: auto;

                    tr {
                        display: flex;

                        &:nth-child(2) {
                            margin-top: 10px;
                        }

                        &:nth-child(3) {
                            margin-top: 20px;
                        }

                        th, td {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            flex: 1;

                            text-align: center;

                            &:nth-child(2) {
                                max-width: 50px;
                            }
                        }
                    }

                    .dropzone-background-image {
                        background-image: url('../../images/dragdrop-icon.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 30px;
                    }

                    .currency-logo-drop-zone {
                        height: 50px;
                        max-height: 50px;
                        overflow: hidden;

                        border: 4px dashed rgba(255,255,255,0.75);

                        img {
                            height: 30px;
                            max-height: 30px;
                        }
                    }

                    #exchange-amount-input {
                        width: 100%;

                        text-align: center;

                        -moz-appearance: textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    #exchange-amount-result {
                        background: rgba(255,255,255,0.75);
                        color: black;
                    }

                }

                #exchange-btn {
                    display: block;

                    margin: 20px auto 0px auto;
                }
            }

            #wallet-fieldset {
                margin-top: 20px;

                padding: 10px 20px;

                #wallet-tables-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin: auto;

                    .table {

                        &:nth-of-type(2) {
                            margin-left: 20px;
                        }
    
                        .row {
                            display: flex;

                            height: 50px;

                            &:not(:first-child) {
                                margin-top: 5px;
                            }
                        }
    
                        .currency-logo-container,
                        .amounts {
                            background-color: rgba(255,255,255,.05);
                            border: 1px solid rgba(255,255,255,.1);
                        }
    
                        .currency-logo-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            width: 60px;
                            
                            .currency-logo {
                                display: block;
        
                                width: 30px;
                                height: 30px;
                                max-width: 30px;
                                max-height: 30px;
        
                                cursor: move;
                                cursor: -webkit-grab;
                                cursor: grab;
        
                                &:active {
                                    cursor: -webkit-grabbing;
                                    cursor: grabbing;
                                }
                            }
                        }
    
                        .amounts {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            flex-direction: column;
                            flex-grow: 1;

                            padding: 0px 15px;

                            text-align: right;

                            span {
                                font-family: inherit;
                            }

                            .coin-value {
                                font-size: 12px;

                            }
    
                            .crypto-amount {
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
}
